:root {
    --hover-color: rgb(250, 180, 0);
    --default-color: rgb(255, 255, 255);
}

@font-face {
    font-family: "Montserrat";
    src: url("../media/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../media/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

* {
    font-family: "Montserrat", sans-serif;
}

html, body {
    background: url("../media/aboutme/dog_03.jpg");
    margin: 0;
    padding: 0;
    color: var(--default-color);
}

.nav-bar{
    display: flex;
    margin: 0px;
    padding: 8px;
    gap: 4px;
    justify-content: left;
    backdrop-filter: blur(4px);
    position: sticky;
    top: 0px;
    z-index: 9999;
    
    border: solid;
    border-color: var(--default-color);
    border-width: 0px 0px 1px 0px; /* order is TRBL */
}

.nav-left, .nav-right{
    display: flex;
    gap: 4px;
}

.nav-right{
    justify-content: right;
    margin-left: auto;
    gap: 2px;
}

button {
  border: none;
  padding: 12px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: var(--default-color);
  
  border: solid;
  border-color: var(--hover-color);
  border-width: 0px 0px 0px 0px; /* order is TRBL */

  background-color: rgba(0,0,0,0);
  transition: 0.05s;
}

.selected {
  color: var(--hover-color);
  border-width: 0px 0px 1px 0px; /* order is TRBL */
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    20% { opacity: 0.5; }
    35% { opacity: 1; }
    50% { opacity: 0.5; }
    65% { opacity: 0.9; }
    80% { opacity: 0.6; }
}

button:hover:not(.page-nav) {
  color: var(--hover-color);
  border-color: var(--hover-color);
  box-shadow: 0 0 8px var(--hover-color);
  backdrop-filter: blur(6px);
  
  border: solid;
  border-color: var(--hover-color);
  border-width: 1px 1px 1px 1px; /* order is TRBL */
  background-color: rgba(0,0,0,0.4);
  animation: flicker 0.3s;
}

button.page-nav:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

img {
  box-shadow: 0 0 8px rgba(0,0,0,1);
}

.carousel{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
}

.carousel-slide{
    scroll-snap-align: start;
}