@font-face {
    font-family: "Montserrat";
    src: url("../media/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../media/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

* {
    font-family: "Montserrat", sans-serif;
}