:root {
    --hover-color: rgb(250, 180, 0);
    --default-color: rgb(255, 255, 255);
}

@font-face {
    font-family: "Montserrat";
    src: url("../media/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../media/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: url("../media/aboutme/dog_03.jpg");
}

.nav-button{
    display: inline-block;
}

button {
  border: none;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  color: var(--default-color);
  outline-color: var(--default-color);
  outline: solid;
  outline-width: 1px;
  transition: 0.1s;
}

button:hover {
  color: var(--hover-color);
  outline-color: var(--hover-color);
  box-shadow: 0 0 8px var(--hover-color);
  backdrop-filter: blur(5px);
}